/* Estilo general */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  background-image: url('./images/Dojo0.webp'); /* Ruta a la imagen */
  background-size: cover; /* Escala la imagen para cubrir toda la pantalla */
  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-attachment: fixed; /* Hace que la imagen de fondo se mantenga fija al hacer scroll */
}

/* Título centrado y fijo */
.title {
  color: #7b130c;
  text-align: center;
  font-size: 36px;
  margin-bottom: 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  padding: 10px 0;
}

/* Lista de tareas */
.task-list {
  width: 80%; /* Ancho completo */
  margin-top: 80px; /* Espacio para el título */
  padding: 20px; /* Espacio a los lados*/
  overflow-y: auto; /* Scroll vertical */
  max-height: 70vh; /* Altura máxima de la lista */
}

/* Personalizar la barra de desplazamiento (para WebKit) */
.task-list::-webkit-scrollbar {
  width: 8px; /* Ancho de la barra */
}

.task-list::-webkit-scrollbar-thumb {
  background-color: #ff6f00; /* Color del "pulgar" de la barra */
  border-radius: 10px; /* Bordes redondeados */
}

.task-list::-webkit-scrollbar-thumb:hover {
  background-color: #b33f00; /* Color del "pulgar" al pasar el ratón */
}

.task-list::-webkit-scrollbar-track {
  background: #f0f0f0; /* Color de la pista de la barra */
}

.task-card {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  overflow-y: auto; /* Solo permite el scroll vertical */
  overflow-x: hidden; /* Evita el scroll horizontal */
  overflow-wrap: break-word; /* Permite saltos de línea en palabras largas */
}

.task-card h3 {
  margin: 0;
  font-size: 20px;
  text-align: left;
  flex: 0 0 15%; /* Define un ancho fijo para el título */
  overflow-wrap: break-word; /* Permite saltos de línea en palabras largas */
}

.task-card p {
  margin: 5px 0;
  font-size: 16px;
  flex: 1;
  overflow-y: auto; /* Solo permite el scroll vertical */
  overflow-x: hidden; /* Evita el scroll horizontal */
  overflow-wrap: break-word; /* Permite saltos de línea en palabras largas */
  max-width: 70%; /* Controla el ancho de la descripción */
}

/* Botón edición */
.edit-btn {
  background-color: transparent; /* Color amarillo */
  color: rgb(13, 104, 143);
  font-size: 20px;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
  margin-left: 20px; /* Espacio entre la descripción y el botón */
}

.edit-btn:hover {
  color: #1f44e6;
}

/* Botón eliminar */
.delete-btn {
  background-color: transparent;
  color: #dc3545;
  border: none;
  cursor: pointer;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px; /* Espacio entre la descripción y el botón 
  align-self: center;  Alinea el botón verticalmente al centro */ 
}

.delete-btn:hover {
  color: #a00303;
}

/* Botón flotante circular con el signo "+" */
.add-task-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #ad2b03;
  color: white;
  border: none;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  font-size: 36px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.add-task-btn:hover {
  background-color: #511402;
}

/* Modal */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  width: 400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}

/* Inputs del formulario */
input,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

textarea {
  height: 100px;
}

/* Archivos e imagenes */
.file-preview {
  margin-top: 10px; /* Espacio entre la descripción y el archivo */
  margin-left: 10px;
}

.thumbnail {
  width: 100px; /* Ajusta el tamaño de la miniatura */
  height: auto; /* Mantiene la proporción de la imagen */
  border-radius: 5px; /* Bordes redondeados para la miniatura */
}

/* Botones del modal */
.modal-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.create-btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.create-btn:hover {
  background-color: #0056b3;
}

.close-btn {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.close-btn:hover {
  background-color: #c82333;
}


